#agrupar
{
margin: 20px;
text-align: left;
}

#lista
{
background: skyblue;
padding: 1px 1px;
}
#lista li{
display: inline-block;
list-style: none;
padding: 0px;
font: bold 20px verdana, sans-serif;
margin-left: 80px;

}

#lista li:hover
{
background-color: lightcyan;
padding:  15px 25px;
margin-top: -4;
border: lightcyan;
}

#cabeza
{
background: lightblue;
border: solid lightblue; 2px;
padding: 10px;
}

h1
{
font: bold verdana, sans-serif;
margin-left: 480px;
color: blue;
}

h2
{
margin: -95px 250px;
padding: 15px;
background: gray;
}

h3
{
margin: 100px 250px;
padding: 15px;
background: silver;
}

#columna
{
float: left;
width: 190px;
margin: -50px 0px;
padding: 15px;
background: lightgray;
height: 320px;
}

blockquote
{
font: monospace, sans-serif;
margin: 30px 0px;
}

footer
{
text-align: center;
border-top: 2px solid black;
padding: 20px;
margin: 450px 0px;
}